html{
    overflow: hidden;
}

input, button{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    border-radius: 6px;
}
button{
    margin-top: 15px;
}

/* link que ainda não foi visitado */
a:link {
   color: gray;
}

/* link que foi visitado */
a:visited {
    color: black;
}

/* mouse over */
a:hover {
    color: #000000;
}

/* link selecionado */
a:active {
    color: gray;
}

